* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

main{
  background-color: #fffdf4;
  margin: 0;
  padding: 0;
  height: 100vh; 
  font-family: sans-serif;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffdf4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.logo img {
  width: 120px;
  display: block;
  height: 60px;
  object-fit: cover;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  right: 43%;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* position: absolute; */
}

nav .brand {
  font-weight: bold;
  margin-right: 2rem;
  color: #fff;
  text-decoration: none;
}
nav a {
  margin-right: 1rem;
  color: #25754a;
  text-decoration: none;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}
nav a {
  text-decoration: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #00a896;
  border-radius: 10px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #00a896;
  background-color: rgb(238, 238, 103);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px black;
  cursor: pointer;
}

.donate{
    background-color: white;
    border-radius: 15px;
    padding: 30px 40px 20px;
    box-shadow: 0 4px 20px gray; 
    width: 90%;
    max-width: 450px; 
    text-align: center;
    position: relative;
    margin: 0 auto;
}

h2 {
    color: black;
    font-family: 'Serif', serif;
    margin-bottom: 10px;
    font-size: 24px; 
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
}

input, select, textarea {
    font-size: 16px; 
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    font-size: 18px;
    padding: 12px;
    width: 100%;
    background-color: #25754a;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover, .back:hover {
    background-color: #1a5938;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px black;
}

.back {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #25754a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ;
    top: 13px;
    left: 150px;
}


footer{
    background-color: #25754a;
    text-align: center;
    color: white;
    padding: 20px;
}

footer h2{
    color: white;
}