﻿* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffdf4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.links {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  background: #333;
  color: #fff;
}

.logo img {
  width: 120px;
  display: block;
  height: 60px;
  object-fit: cover;
}

nav .brand {
  font-weight: bold;
  margin-right: 2rem;
  color: #fff;
  text-decoration: none;
}
nav a {
  margin-right: 1rem;
  color: #25754a;
  text-decoration: none;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}
nav a {
  text-decoration: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #00a896;
  border-radius: 10px;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #00a896;
  background-color: rgb(238, 238, 103);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}


.login-container { 
    max-width: 600px; 
    margin: 50px auto;
    margin-top: 200px;
    background: #fff; 
    padding: 50px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px gray; 
}

.login-container h1 { 
    text-align: center; 
}

.user input, .pass input {
    display: block;
}

#user, #pass {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.login-container form button { 
    margin-top: 10px; 
    padding: 10px;
    width: 100%;
}

legend {
    font-weight: bold;
    margin-bottom: 5px;
}

.eror {
    color: red;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}