/* common reset and base */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffdf4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo img {
  width: 120px;
  display: block;
  height: 60px;
  object-fit: cover;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  right: 43%;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* position: absolute; */
}

nav .brand {
  font-weight: bold;
  margin-right: 2rem;
  color: #fff;
  text-decoration: none;
}
nav a {
  margin-right: 1rem;
  color: #25754a;
  text-decoration: none;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
}
nav a {
  text-decoration: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #00a896;
  border-radius: 10px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #00a896;
  background-color: rgb(238, 238, 103);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px black;
  cursor: pointer;
}

main{
    background-color: #fffdf4;
    margin: 0;
    padding: 0;
    /* height: 100vh;  */
    flex: 1;
    font-family: sans-serif;
}

.detail {
  width: 95%; 
  padding: 20px;
  margin: 20px auto 60px auto;
  max-width: 1300px; 
}

.back {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #25754a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ;
    /* top: 13px;
    left: 150px; */
}


.back:hover {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    background-color: #02594c;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ;
    /* top: 13px;
    left: 150px; */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px black;
}


.campaign-title {
  text-align: center;
  margin-bottom: 40px;
}

.campaign-title h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.subtitle {
  color: #666;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
}

.pertama {
  box-shadow: inset 0 -15px 0 #ffe066;
}
.kedua {
  box-shadow: inset 0 -15px 0 #a3c9a3;
}


.detail-content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.poster {
  flex: 1.5; 
}

.poster img {
  width: 100%;
  max-height: 800px; 
  object-fit: cover; 
  display: block;
}


.tags {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 15px;
}

.tag {
  font-size: 14px;
  color: #444;
  font-weight: bold;
}


.info {
  flex: 1;
  text-align: left;
}


.progress-container {
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  margin-bottom: 15px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #037362; 
}

.dana-terkumpul {
  font-size: 32px;
  color: #037362;
  margin: 0 0 5px 0;
}

.dana-target {
  font-size: 14px;
  color: #666;
  margin-top: 0;
  margin-bottom: 25px;
}

.stats-box p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
}

.btn {
  display: block;
  background-color: #037362;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 4px; 
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #02594c;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px black;
}

footer {
  background-color: #25754a;
  text-align: center;
  color: white;
  padding: 20px;
}

footer h2 {
  font-size: 16px;
  font-weight: normal;
}
